.about {
  .carousel {
    display: flex;
    overflow-x: auto;

    .carousel-inner {
      display: flex;

      .carousel-item {
        min-width: 100%;
        transition: transform 0.5s ease-in-out;
      }
    }
  }

  p {
    padding: 20px;
  }
}

