.help {
  padding: 50px;
  font-family: "Courier New", sans-serif;
  font-size: 20px;
}

.h2 {
  font-size: 1.5rem;
}



.help h2,
.help p{
  justify-content: center;
  align-items: center;
  display: flex;

}

.helpFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.helpForm {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  //display: flex;
  //flex-direction: column;
  max-width: 400px;
  width: 100%;
  //margin: auto;

  .helpForm h2 {
    margin-bottom: 1rem,;
    font-size: 1.5rem;
    color: #333333;

  }

  .helpForm p {
    font-weight: bold;
  }

  .formGroup {
    margin-bottom: 1rem;
  }

  .formGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .formGroup input,
  .formGroup textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .formGroup textarea {
    resize: vertical;
    min-height: 100px;

  }

  button {
    padding: 10px;
    background-color: dimgrey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}

