#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Courier New", sans-serif;
}

//.homepage {}


.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #333;
  color: white;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-family: "Courier New", sans-serif;
}

.logo {

  display: flex;
  align-items: center;
}

.logoImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;


}

.logoText {
  font-size: 1.2em;
  font-weight: bold;
}

.nav {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navList {
    display: flex;
    gap: 5px;
  }

  .navItem {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;


    &:hover {
      background-color: #575757;
      border-radius: 5px;
    }
  }
}

.hamburger {
  display: none;
  font-size: 2em;
  cursor: pointer;
  color: red;
}
  .hamburger:hover + .nav,
  .nav:hover {
    display: block;
    border-radius: 8px;


}




.nav.open {
  display: block;
  border-radius: 8px;

}

.section {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  width: 100%;
  padding: 2rem;


}

.logoImage2 {
  max-width: 50%;
  height: auto;
}


.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 100%;
  height: 200px;
  box-sizing: content-box;
}

.footer p {
  margin: 0;
}

.socialIcons {
  margin-top: 1rem;


  a {
    margin: 0 10px;
    display: inline-block;

    img {
      width: 24px;
      height: 24px;
      color: red;

    }
  }

  }




@media (max-width: 768px) {

  .nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    border: 1px solid #ccc;
    flex-direction: column;
    width: 120px;
  }

  .hamburger:hover .nav {
    display: flex;
  }


  .nav.open {
    display: flex;
  }

  .navList {
    flex-direction: column;
    align-items: flex-start;
  }

  .navItem {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    text-align: right;
  }

  .hamburger {
    display: block;
  }
}


/*.header {
   flex-direction: column;
   align-items: flex-start;
 }
 .nav {
   display: none;
   width: 100%;

   &.navOpen {
     display: block;
   }

   ul {
     flex-direction: column;
     padding: 0;
   }

   .navItem {
     margin: 10px 0;
     text-align: center;
   }
 }
}


*/