body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.home, .auth, .about, .browse {
  text-align: center;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
}

.gallery-name {
  font-size: 24px;
  margin-top: 50px;
}

.start-image {
  width: 100%;
  height: auto;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth form {
  display: flex;
  flex-direction: column;
}

.auth input {
  margin: 5px 0;
  padding: 10px;
  width: 200px;
}

.auth button {
  margin: 5px 0;
  padding: 10px;
  width: 220px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  background: #333;
  color: #fff;
  padding: 10px 0;
}

.navigation a {
  color: #fff;
  text-decoration: none;
}

.navigation a.active {
  font-weight: bold;
}